
    <header>
        <h2>Constructora de Edificios</h2>
    </header>

    <main>
        <section id="acerca-de-nosotros">
            <h2>Acerca de Nosotros</h2>
            <div class="contenido">
                <div class="imagen">
                    <img src="../../assets/card/card1.png" alt="Imagen de la constructora">
                </div>
            </div>
        </section>
    </main>
    <div class="texto us">
        <p>Somos una empresa constructora con más de 20 años de experiencia en el sector de la edificación. Nos especializamos en la construcción de edificios residenciales y comerciales de alta calidad.</p>
        <p>Nuestra misión es crear espacios que mejoren la calidad de vida de las personas, utilizando materiales de primera y técnicas de construcción innovadoras.</p>
        <p>Contamos con un equipo de profesionales altamente cualificados que se comprometen a ofrecer un servicio excepcional a nuestros clientes.</p>
        <button #verMasBtn id="ver-mas">Ver más</button>
    </div>
    <div #infoAdicional id="info-adicional" style="display: none;" class="aditional">
    
        <section id="mision">
            <h2>Nuestra Misión</h2>
            <ul>
                <li>Calidad y excelencia: Construir edificios de alta calidad que cumplan con los estándares más exigentes.</li>
                <li>Satisfacción del cliente: Ofrecer soluciones constructivas que satisfagan las necesidades y expectativas de los clientes.</li>
                <li>Compromiso con la seguridad: Garantizar la seguridad de los trabajadores y de los usuarios finales de los edificios.</li>
                <li>Responsabilidad social y ambiental: Contribuir al desarrollo sostenible y minimizar el impacto ambiental de las actividades constructivas.</li>
                <li>Desarrollo del personal: Fomentar el crecimiento profesional y personal de los empleados.</li>
            </ul>
        </section>
    
        <section id="vision">
            <h2>Nuestra Visión</h2>
            <ul>
                <li>Liderazgo en el mercado: Ser reconocida como una empresa líder en el sector de la construcción de edificios.</li>
                <li>Innovación y tecnología: Adoptar tecnologías y prácticas constructivas innovadoras para mejorar la eficiencia y la calidad.</li>
                <li>Expansión y crecimiento: Expandir la presencia en nuevos mercados y diversificar los servicios ofrecidos.</li>
                <li>Sostenibilidad: Ser un referente en la construcción sostenible y el uso de materiales ecológicos.</li>
                <li>Reconocimiento: Ser una empresa reconocida por su excelencia, integridad y compromiso con la comunidad.</li>
            </ul>
        </section>
    </div>

