<section>
    <div class="carousel">
        <div class="carousel__track">
            <div class="carousel__item">
                <img src="../../assets/banner/banner1.png" alt="Imagen 1">
            </div>
            <div class="carousel__item">
                <img src="../../assets/banner/banner2.png" alt="Imagen 2">
            </div>
            <div class="carousel__item">
                <img src="../../assets/banner/banner3.png" alt="Imagen 3">
            </div>
            <div class="carousel__item">
                <img src="../../assets/banner/banner4.png" alt="Imagen 4">
            </div>
        </div>
    </div>
</section>

<section>
    <section class="card-section">
        <div class="card" data-title="Torre Santa Fe en Chihuahua" data-description="Altura: ≈85 m
        Piso: 19
        Sótanos: 3
        Año: 2019 - 2021
        Uso: Oficinas
        Arquitectura: Moderna
        Arquitecto: Alberto Vidal
        LEED: Oro
        📍Chihuahua">
            <img src="../../assets/card/card1.png" alt="Tarjeta 1">
            <h3>Torre Santa Fe en Chihuahua</h3>
            <button class="view-details">Ver Detalles</button>
        </div>
        <div class="card" data-title="Origina Santa Fe" data-description="Ficha técnica
        Pisos: 33
        Inicio: 2021
        Uso: Residencial
        Arquitecto: Artigas Arquitectos
        Arquitectura: Moderna
        📍 Santa Fe">
            <img src="../../assets/card/card2.png" alt="Tarjeta 2">
            <h3>Santa Fe</h3>
            <button class="view-details">Ver Detalles</button>
        </div>
        <div class="card" data-title="The university tower" data-description="Altura: 203 metros.
        Pisos: 58
        Sótanos: 18
        Uso: Residencial, Hotel
        Inicio: 2019.
        Fin: 2024.
        Arquitecto: Enrique Macotela y Asociados
        Desarrolladora: Del Parque, The University Club
        📍CDMX">
            <img src="../../assets/card/card3.png" alt="Tarjeta 3">
            <h3>The university tower</h3>
            <button class="view-details">Ver Detalles</button>
        </div>
    </section>

    <div class="popup" id="popup">
        <div class="popup-content">
            <span class="close-button">&times;</span>
            <h2 id="popup-title"></h2>
            <p id="popup-description"></p>
        </div>
    </div>
</section>