
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$avance_angular-primary: mat.define-palette(mat.$indigo-palette);
$avance_angular-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$avance_angular-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$avance_angular-theme: mat.define-light-theme((
  color: (
    primary: $avance_angular-primary,
    accent: $avance_angular-accent,
    warn: $avance_angular-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($avance_angular-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



footer {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap on smaller screens */
  justify-content: space-around;
}

.footer-section {
  flex: 1 1 250px; /* Distribute space, minimum width 250px */
  margin-bottom: 20px;
}

.footer-section h3 {
  margin-bottom: 10px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 5px;
}

.footer-bottom {
  margin-top: 20px;
  border-top: 1px solid #555;
  padding-top: 10px;
  width: 100%;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .footer-section {
      flex: 1 1 100%; /* Take full width on smaller screens */
      text-align: center; /* Center text on smaller screens */
  }
}